<link rel="stylesheet" href="css/arch-styles.css">
<div class="panel panel-default" style="width: 100%">
    <div class="panel-heading">Logged in as: {{contact.first_name}} {{contact.last_name}}
    </div>
    <div class="panel-body main-body">
        <div class="row">
            <div class="col-lg-3 col-xs-3">
                <div class="panel panel-info">
                    <div class="panel-heading">Client List:</div>
                    <div class="panel-body fillable">
                        <table class="table table-hover">
                            <tbody>
                                {{#each arch}}
                                <tr>
                                    <td>
                                        <a onClick="getClient({{this.id}})">
                                            <li>
                                                {{this.Contact.first_name}} {{this.Contact.last_name}}
                                            </li>
                                        </a>
                                    </td>

                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <div class="bot-tag">
                            <hr>
                            <h4>Add a new Client</h4>
                            <a href="/addClientPage">Add Client</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xs-9">
                <div class="col-lg-6 col-xs-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Client Information:
                        </div>
                        <div class="panel-body fillable left-side">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td>Address:</td>
                                        <td id="clientAddr"></td>
                                    </tr>
                                    <tr>
                                        <td>Phone:</td>
                                        <td id="clientEmail"></td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td id="clientPhone"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-6">
                    <div class="panel panel-info files">
                        <div class="panel-heading">Files:</div>
                        <div class="panel-body fillable left-side">
                            <table class="table table-hover">
                                <thead></thead>
                                    <tbody id="userDocs">
                                        <tr>
                                            <td>File Name</td>
                                        </tr>
                                    </tbody>
                            </table>
                            <div class="bot-tag">
                                <hr>
                                <h4>Upload File</h4>
                                <form action="/fileUpload" method="POST" enctype="multipart/form-data">
                                      {{#each arch}}
                                        <input type="radio" name="client" value="{{this.id}}">{{this.Contact.first_name}} {{this.Contact.last_name}}<br>
                                      {{/each}}
                                  <input type="file" name="filetoupload"><br>
                                  <input type="submit">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Comments
                        </div>
                        <div class="panel-body fillable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th>Client</th>
                                        <th>Date</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>File Name*</td>
                                        <td>Client*</td>
                                        <td>Date*</td>
                                        <td>Comment*</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding: 0; margin: 0;">
    <div class="row" style="padding:0; margin:0; width: 100%; background-color: #D9EDF7;">
        <div class="col-sm-12 text-center" style="padding: 5px 0; background-color: #9A4F4F;">
            <a href="/logout"><button class="btn btn-danger btn-sm">Logout</button></a>
            <a href="/archSettings"><button class="btn btn-danger btn-sm">Settings</button></a>
        </div>
    </div>
</div>
<script type="text/javascript">
    function getClient(x) { //show client contact info
        $.ajax({
            url: '/getClientData/' + x,
            method: 'GET'
        }).then(function (response) {
            $('#clientAddr').html(response[0].addr_number + ' ' +
                response[0].addr_street + ' Apt. ' + response[0].apt_number + ' <br>' +
                response[0].city + ', ' + response[0].state + ' ' + response[0].zip_code);
            $('#clientEmail').html(response[0].User.email);
            $('#clientPhone').html(response[0].phone_number);

            for (let i = 0; i < response[1].length; i ++) {
              let readableName = response[1][i].path.slice(response[1][i].path.lastIndexOf("/") + 1, response[1][i].path.length);
              $('#userDocs').append('<tr><td>' + readableName + '</td></tr>');
            }

        }).catch(function (err) {
            console.error(err);
        });
    }

</script>
