<link rel="stylesheet" href="css/arch-styles.css">
<div class="panel panel-default">
    <div class="panel-heading">Logged in as: {{arch.ArchContact.first_name}} {{arch.ArchContact.last_name}}
        <div class="options">
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="panel-body main-body">
        <div class="col-lg-2">
            <div class="panel panel-info">
                <div class="panel-heading">Client List:</div>
                <div class="panel-body fillable">
                    <ul>
                        {{#each arch.Clients}}
                        <li>
                            <button class="btn btn-link" onClick="getClient({{this.id}})">
                        {{this.ClientContact.first_name}} {{this.ClientContact.last_name}}
                      </button>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="bot-tag">
                        <hr>
                        <h4>Add a new Client</h4>
                        <a href="/addClientPage">ADD CLIENT</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="panel panel-info col-lg-5">
                <div class="panel-heading">
                    Client Information:
                </div>
                <div class="panel-body fillable left-side">
                    <ul>
                        <li><strong>Address:</strong> <br><span id="clientAddr">Client Address</span></li>
                        <li><strong>Email:</strong> <span id="clientEmail">Client Email</span></li>
                        <li><strong>Phone:</strong> <span id="clientPhone">Client Phone</span></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info files col-lg-6">
                <div class="panel-heading">Files:</div>
                <div class="panel-body fillable left-side">
                    <ul>
                        <a href="#">
                            <li>Plans-Set One </li>
                        </a>
                        <a href="#">
                            <li>Services Contracts</li>
                        </a>
                        <a href="#">
                            <li>Billing Spreadhseet</li>
                        </a>

                    </ul>
                    <div class="bot-tag">
                        <hr>
                        <h4>Upload File</h4>
                        <input id="upload-input" type="file" name='uploads[]' multiple='multiple'>
                    </div>
                </div>

            </div>
            <div class="panel panel-info col-lg-11 comment-section">
                <div class="panel-heading">
                    Comments
                </div>
                <div class="panel-body fillable comments">

                </div>
            </div>
        </div>
    </div>
</div>
<div><a href="/settings">Settings</a></div>
<script type="text/javascript">
    function getClient(x) { //show client contact info
        $.ajax({
            url: '/getClientData/' + x,
            method: 'GET'
        }).then(function (response) {
            $('#clientAddr').html(response.addr_number + ' ' +
                response.addr_street + ' Apt. ' + response.apt_number + ' <br>' +
                response.city + ', ' + response.state + ' ' + response.zip_code);
            $('#clientEmail').html(response.Client.email);
            $('#clientPhone').html(response.phone_number);
        }).catch(function (err) {
            console.error(err);
        });
    }

</script>
